html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title OverPricedHotdogs
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet',href='/stylesheets/fonts.css')

    .top-bar
      .top-bar-left
        form#formSearch(name="formSearch",method="post",action="/searchComic")
          ul.menu
            li
               input(type="search", placeholder="Search",name="search")
               input(type="hidden",name="sort",value="new")
            li
               button(type="submit", class="button") Search
      .top-bar-right
        ul.menu
          li
            a(href="/home") Account Info
          li
            button#btn-logout.btn.btn-primary
              i.icon-lock.icon-white
              | Sign Out

    a(href=homeURL)
      img.centered(src=banner width="50%" height="50%")

    //.title-bar(data-responsive-toggle='main-menu', data-hide-for='medium')
      button.menu-icon(type='button', data-toggle='')
      .title-bar-title Menu
    #main-menu.top-bar
      ul.menu.vertical.medium-horizontal.expanded.medium-text-center(data-responsive-menu='drilldown medium-dropdown')
        li
          button.btn.btn-primary(style="width:100px",onclick="sendMFav()") Most Favourited
          br
          button.btn.btn-primary(style="width:100px",onclick="sendLFav()") Least Favourited
        li.has-submenu
          button.btn.btn-primary(style="width:100px",onclick="sendMView()") Most Viewed
          br
          button.btn.btn-primary(style="width:100px",onclick="sendLview()") Least Viewed
        li
          button.btn.btn-primary(style="width:100px",onclick="sendNew()") Newest
          br
          button.btn.btn-primary(style="width:100px",onclick="sendOld()") Oldest

              
block content
  #wrapper
    h1 Search Results
    u1 
        each project, i in searchList
            li
                a(href="/viewer/"+project._id)= project.title
                    img(src=project.thumbnail, style = "border: 1px solid black;")
                    
block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
  script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
  script(src='/vendor/jquery.form.js')
  script(src='/vendor/bootstrap-modal.js')
  script(src='/vendor/bootstrap-transition.js')
  script(src='/js/views/home.js')
  script(src='/js/controllers/homeController.js')
  script(src='/js/form-validators/accountValidator.js')  
  script.
      var searchWord = !{JSON.stringify(searchWord)};
      console.log("search "+searchWord);
  script.

      function sendMFav(){
          var searchForm = document.getElementById("formSearch");
          searchForm.elements['sort'].value = "mFav";
          searchForm.elements['search'].value = searchWord;
          searchForm.submit();           
      }
      function sendLFav(){
          var searchForm = document.getElementById("formSearch");
          searchForm.elements['sort'].value = "lFav";
          searchForm.elements['search'].value = searchWord;
          searchForm.submit();           
      }
      function sendMView(){
          var searchForm = document.getElementById("formSearch");
          searchForm.elements['sort'].value = "mView";
          searchForm.elements['search'].value = searchWord;
          searchForm.submit();           
      }
      function sendLview(){
          var searchForm = document.getElementById("formSearch");
          searchForm.elements['sort'].value = "lView";
          searchForm.elements['search'].value = searchWord;
          searchForm.submit();          
      }
      function sendNew(){
          var searchForm = document.getElementById("formSearch");
          searchForm.elements['sort'].value = "new";
          searchForm.elements['search'].value = searchWord;
          searchForm.submit();          
      }
      function sendOld(){
          var searchForm = document.getElementById("formSearch");
          searchForm.elements['sort'].value = "old";
          searchForm.elements['search'].value = searchWord;
          searchForm.submit();
      }